* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas', 'Monaco', monospace;
  }  

body {
    background-color: #111;
    color: #ddd;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('src/TDSH2.jpg') no-repeat center center/cover;
    text-align: center;
    padding-top: 80px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
}

.hero h1 {
    font-size: 4em;
    color: #fff;
}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
    color: #fff;
}

section {
    padding: 100px 20px 80px 20px;
    text-align: center;
}

.music-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.music-item {
    max-width: 200px;
    text-align: center;
}

.music-item a {
    text-decoration: none;
    color: #ddd;
    transition: transform 0.3s ease;
}

.music-item a:hover {
    transform: scale(1.05);
}

.music-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.music-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
}

/* footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ddd;
} */
 
/* Estilo general del footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  position: relative;
}

/* Estilo para el símbolo de interrogación en el footer */
#footer-question-mark {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

#footer-question-mark:hover {
  background-color: #ff4a4a; /* Cambia el color de fondo al pasar el mouse */
}

footer p {
  margin: 0;
}

.contact-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed transparent;
    transition: border-bottom 0.3s;
}

.contact-link:hover {
    border-bottom: 1px solid #ddd;
}

.music-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: opacity 0.3s ease;
}

.music-item img:hover {
    opacity: 0.2;
}

/* Estilo para el contador */
.countdown-container {
    text-align: center;
    margin-top: 50px;
}

.countdown-days {
    font-size: 4em;
    color: #ffffff;
}

.countdown-time {
    font-size: 3em;
    color: #ffffff;
}

.countdown {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.countdown span {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el botón de audio */
.audio-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 50px;
    background-color: #ff5a78;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.audio-btn:hover {
    background-color: #ff3344;
}

/* Estilos para la página de audio y el botón de regreso */
.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
    color: #ddd;
}

.go-back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.go-back-button svg {
    stroke: rgb(255, 255, 255);
}

/* Estilos para el botón existente */
.old-btn {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
  }
  
  .old-btn span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
    text-decoration: none;
  }
  
  .old-btn span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .old-btn span:not(hover) {
    transition: all 1s;
  }
  
  /* Estilos para el nuevo botón */
  .btn-class-name {
    --primary: 255, 90, 120;
    --secondary: 150, 50, 60;
    width: 60px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    outline: 10px solid rgba(var(--primary), 0.5);
    border-radius: 100%;
    position: relative;
    transition: 0.3s;
  }
  
  .btn-class-name .back {
    background: rgb(var(--secondary));
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .btn-class-name .front {
    background: linear-gradient(0deg, rgba(var(--primary), 0.6) 20%, rgba(var(--primary)) 50%);
    box-shadow: 0 0.5em 1em -0.2em rgba(var(--secondary), 0.5);
    border-radius: 100%;
    position: absolute;
    border: 1px solid rgb(var(--secondary));
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: inherit;
    transform: translateY(-15%);
    transition: 0.15s;
    color: rgb(var(--secondary));
  }
  
  .btn-class-name:active .front {
    transform: translateY(0%);
    box-shadow: 0 0;
  }
  
  

  /*Glitch*/
  /* Estilos para el mensaje de cuenta regresiva */
.countdown-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
}

/* Animación Glitch */
/* Estilos para el mensaje de cuenta regresiva */
.countdown-message {
  position: absolute;
  font-size: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
}

/* Animación Glitch */
@keyframes glitch {
0% {
  clip: rect(44px, 9999px, 56px, 0);
  transform: skew(0.46deg);
}
5% {
  clip: rect(99px, 9999px, 5px, 0);
  transform: skew(0.19deg);
}
10% {
  clip: rect(12px, 9999px, 69px, 0);
  transform: skew(0.29deg);
}
15% {
  clip: rect(72px, 9999px, 99px, 0);
  transform: skew(0.19deg);
}
20% {
  clip: rect(55px, 9999px, 10px, 0);
  transform: skew(0.32deg);
}
25% {
  clip: rect(44px, 9999px, 86px, 0);
  transform: skew(0.38deg);
}
30% {
  clip: rect(8px, 9999px, 18px, 0);
  transform: skew(0.17deg);
}
35% {
  clip: rect(38px, 9999px, 91px, 0);
  transform: skew(0.45deg);
}
40% {
  clip: rect(72px, 9999px, 74px, 0);
  transform: skew(0.19deg);
}
45% {
  clip: rect(91px, 9999px, 48px, 0);
  transform: skew(0.25deg);
}
50% {
  clip: rect(4px, 9999px, 17px, 0);
  transform: skew(0.49deg);
}
55% {
  clip: rect(68px, 9999px, 74px, 0);
  transform: skew(0.43deg);
}
60% {
  clip: rect(45px, 9999px, 70px, 0);
  transform: skew(0.35deg);
}
65% {
  clip: rect(35px, 9999px, 80px, 0);
  transform: skew(0.21deg);
}
70% {
  clip: rect(69px, 9999px, 18px, 0);
  transform: skew(0.38deg);
}
75% {
  clip: rect(16px, 9999px, 58px, 0);
  transform: skew(0.27deg);
}
80% {
  clip: rect(99px, 9999px, 64px, 0);
  transform: skew(0.13deg);
}
85% {
  clip: rect(26px, 9999px, 91px, 0);
  transform: skew(0.48deg);
}
90% {
  clip: rect(86px, 9999px, 46px, 0);
  transform: skew(0.39deg);
}
95% {
  clip: rect(50px, 9999px, 35px, 0);
  transform: skew(0.47deg);
}
100% {
  clip: rect(56px, 9999px, 37px, 0);
  transform: skew(0.32deg);
}
}

.glitch {
  animation: glitch 0.5s steps(2, end) infinite;
}

/* Opcional: Efecto de fondo para mejorar el efecto visual */
@keyframes glitch-bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  /* background: linear-gradient(90deg, rgba(0,0,0,0.1), rgba(0,0,0,0.9)); */
  background-size: 200% 200%;
  /* animation: glitch-bg 10s infinite; */
}

  /*Fin De Glitch*/
  
html {
    scroll-behavior: smooth;
}
